<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre-Mi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./habilidades.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="educacion">
        <h4>Habilidades <button>✏️</button></h4>
        <div class="container-habilidades" id="habilidades">
            <div class="skills-frontEnd">
                <h4>Front-End</h4>
                <h6>HTML</h6>
                <div class="barra">
                    <div class="progreso" style="--w:40%"></div>
                </div>
                <h6>CSS</h6>
                <div class="barra">
                    <div class="progreso" style="--w:40%"></div>
                </div>
                <h6>JavaScript</h6>
                <div class="barra">
                    <div class="progreso" style="--w:40%"></div>
                </div>
            </div>
            <div class="skills-backEnd">
                <h4>Back-End</h4>
                <h6>Atom</h6>
                <div class="barra">
                    <div class="progreso" style="--w:40%"></div>
                </div>
                <h6>Angular</h6>
                <div class="barra">
                    <div class="progreso" style="--w:40%"></div>
                </div>
                <h6>PHP</h6>
                <div class="barra">
                    <div class="progreso" style="--w:40%"></div>
                </div>
            </div>
            <div class="skills-herramientas">
                <h4>Herramientas</h4>
                <h6>GitHub</h6>
                <div class="barra">
                    <div class="progreso" style="--w:40%"></div>
                </div>
                <h6>Visual Studio Code</h6>
                <div class="barra">
                    <div class="progreso" style="--w:40%"></div>
                </div>
                <h6>Boostrap</h6>
                <div class="barra">
                    <div class="progreso" style="--w:40%"></div>
                </div>
            </div>
        </div>
    </div>
</body>